<main>
  <div class="homepage"></div>
  <div class="headline">
    <h1><%= link_to "All Categories", products_path %></h1> # goes to view index of products
  </div>

  <article class="column">
    <ul class="product-info">
      <div class="headline">
        <li><%= link_to "Category1" %></li>
        <li><%= link_to  %><img class="product_photo" src="" alt=""></li> # Link to homepages/category1/show
      </div>
    </ul>
  </article>

  <article class="column">
    <ul class="product-info">
      <div class="headline">
        <li><%= link_to "Category2" %></li>
        <li><%= link_to  %><img class="product_photo" src="" alt=""></li> # Link to homepages/category2/show
      </div>
    </ul>
  </article>

  <article class="column">
    <ul class="product-info">
      <div class="headline">
        <li><%= link_to "Category3" %></li>
        <li><%= link_to  %><img class="product_photo" src="" alt=""></li> # Link to homepages/category3/show
      </div>
    </ul>
  </article>

  <article class="column">
    <ul class="product-info">
      <div class="headline">
        <li><%= link_to "Category4" %></li>
        <li><%= link_to  %><img class="product_photo" src="" alt=""></li> # Link to homepages/category4/show
      </div>
    </ul>
  </article>
  </div>
</main>