<section class="content" >
<div class="row">
  <div class="small-6 large-centered columns" id="order_sum">
    <div class="row">
      <div class="small-12 medium-6 columns">
        <h3>Revenue</h3>

        <p>Paid Order Revenue: <strong>$<%='%.2f' %  @merchant.total_revenue(@orders_paid) %></strong></p>
        <p>Completed Order Revenue: <strong>$<%='%.2f' %  @merchant.total_revenue(@orders_complete) %></strong></p>

        <p>Total Revenue*: <strong>$<%='%.2f' %  (@merchant.total_revenue(@orders_paid) + @merchant.total_revenue(@orders_complete)) %></strong></p>
      </div>
      <div class="small-12 medium-6 columns">
        <h3>Orders</h3>

        <p>
          Paid Orders:
          <% if @orders_paid.empty? %>
            N/A
          <% else %>
            <%= @orders_paid.count %>
          <% end %>
        </p>

        <p>
          Completed Orders:
          <% if @orders_complete.empty? %>
            N/A
          <% else %>
            <%= @orders_complete.count %>
          <% end %>
        </p>
        <p>
          Cancelled Orders:
          <% if @orders_cancelled.empty? %>
            N/A
          <% else %>
            <%= @orders_cancelled.count %>
          <% end %>
        </p>
        <p>
          Total Orders:
          <% if @orders.empty? %>
            This merchant had no orders on record.
          <% else %>
            <%= @orders.count %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<p class="center">*Total Revenue calculated based on all successfully shipped items.</p>

  <h1 class="catalog__header">Order details</h1>
  <hr>
  <table class="table" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th scope="col", class="th-sm cart__text">Order Number</th>
      <th scope="col", class="th-sm cart__text">Date</th>
      <th scope="col", class="th-sm cart__text">Credit Card Name</th>
      <th scope="col", class="th-sm cart__text">Address</th>
      <th scope="col", class="th-sm cart__text">Zip Code</th>
      <th scope="col", class="th-sm cart__text">Email</th>
      <th scope="col", class="th-sm cart__text">Order Status</th>
    </tr>
    </thead>
    <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at.to_date %></td>
        <td><%= order.credit_name %></td>
        <td><%= order.address %></td>
        <td><%= order.zip %></td>
        <td> <%= order.email %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>