<section class="content">
  <section class="album px-5">
    <h1 class="catalog__header">All Merchants</h1>
    <h4 class="catalog__secondary-header"> <%= @merchants.count %> merchants</h4>
    <hr>
    <% if @merchants.length > 0 %>
      <section class="container-fluid">
        <div class="row">
          <% @merchants.each do |merchant| %>
            <div class="col-md-3">
              <div class="card mb-3 rounded-0 border-0">
                <div class="embed-responsive embed-responsive-1by1">
                  <img class="card-img-top embed-responsive-item rounded-0" src=<%= %> alt=<%= merchant.username%>>
                </div>
                <div class="card-title text-uppercase pt-3">
                  <section class="catalog__card-title-container">
                  <% if merchant.id == session[:merchant_id] %>
                    <section class="catalog__card-title-container">
                      <h5> <%= button_to merchant.username, merchant_path(merchant.id), method: :get, class: "catalog__card-title-button text-left"%> </h5>
                    <% end %>
                    </section>
                  </section>
                  <section class="catalog__card-title-container">
                    <h5> <%= link_to "#{merchant.username}'s Shop", products_path(username: merchant.username), class: "catalog__card-title-button text-left"%> </h5>
                  </section>
             </div>
            </div>
          </div>
        </div>
          <% end %>
      </section>
    <% else %>
      <h1>No merchants in the system!</h1>
    <% end %>
  </section>
</section>