<main>
  <% if @merchant.errors.any? %>
    <ul class="errors">
      <% @merchant.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <h2>Log In</h2>

  <div class="form-group">
    <%= form_with model: @merchant, url: login_path do |f|  %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="form-group">
        <%= f.submit "Login", class:"button " %>
      </div>
    <%end %>
  </div>
</main>
