<main>
  <main><% if @product.errors.any? %>
      <ul class="errors">
        <% @product.errors.each do |column, message| %>
          <li>
            <strong><%= column.capitalize %></strong> <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <section>
      <%= form_with model: @product do |f|  %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>

        <div class="form-group">
          <%= f.label :price %>
          <%= f.text_field :price %>
        </div>

        <div class="form-group">
          <%= f.label :inventory %>
          <%= f.text_field :inventory %>
        </div>

        <div class="form-group">
          <%= f.label :category %>
          <%= f.select :category, ["category1", "category2", "category3", "category4"] %>
        </div>

        <div class="form-group">
          <%= f.submit action_name, class: " btn btn-primary" %>
          <%= f.submit action_name, class: "btn btn-secondary" %>
        </div>
      <% end %>
    </section>
  </main>

</main>