<section class="content">
  <section class="album px-5">
    <% if @all_categories_name != "all products" %>
    <% end %>
    <h1 class="catalog__header"><%=@all_categories_name%></h1>
    <h4 class="catalog__secondary-header"> <%= @products.count %> results</h4>
    <hr>
    <% if @products.length > 0 %>
      <section class="container-fluid">
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-md-3">
              <div class="card mb-3 rounded-0 border-0">
                <div class="embed-responsive embed-responsive-1by1">
                  <img class="card-img-top embed-responsive-item rounded-0" src='<%= product.photo %>' alt='<%= product.name%>'>
                </div>
                <div class="card-title text-uppercase pt-3">
                  <section class="catalog__card-title-container">
                    <h5> <%= button_to product.name, product_path(product.id), method: :get, class: "catalog__card-title-button text-left"%> </h5>
                  </section>
                  <div class="catalog__body-text">
                    <th>Price:</th>
                      $<%= '%.2f' % product.price%>
                  </div>
                  <div class="catalog__body-text">
                    <th>Rating:</th>
                    <td><%= product.average_rating.nil? ? nil :product.average_rating.round(2) %></td>
                  </div>
                  <div class="catalog__body-text">
                    <th>Stock:</th>
                    <td><%= product.inventory%></td>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </section>
    <% else %>
      <h3 class="catalog__header">No products in the system!</h3>
    <% end %>
    <%= link_to "Add a new Category", new_category_path, class: "btn btn-secondary"%>
    <%= link_to "Add a new Product", new_product_path, class: "btn btn-secondary"%>
  </section>
</section>