<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <section class="inline-navigation">
      <div class="collapse navbar-collapse">
        <div class="d-flex">
          <div class="mr-auto p-2"><%= link_to "AloeBae", root_path, class: "header-logo" %>
            <section class="header-byline">
              <p class="lead">Shop for the aloe vera products you look for</p>
            </section>
          </div>
        </div>

        <ul class="navbar-nav mb-auto mt-0 ml-auto mr-auto">
          <li class="nav-item">
            <i class="fa fa-custom fa-th">
              <%= link_to "All products", products_path, class: "nav-link-custom" %>
            </i>
          </li>
          <li class="nav-item">
            <i class="fa fa-custom fa-users">
              <%= link_to "All merchants", merchants_path, class: "nav-link-custom" %>
            </i>
          </li>
          <li class="nav-item dropdown">
            <i class="fa fa-custom fa-sitemap">
              <a class="nav-link-custom" href="#" >
                Categories
              </a>
            </i>
            <div class="dropdown-menu">

            </div>
          </li>
        <% if session[:merchant_id] %>
          <li class="nav-item">
            <% @current_user = Merchant.find_by(id: session[:merchant_id]) %>
            <i class="fa fa-custom fa-user-circle">
              <%= link_to @current_user.username, merchant_path(session[:merchant_id]), class: "nav-link-custom"%>
            </i>
          </li>
            <li class="nav-item">
              <i class="fa fa-custom fa-arrow-circle-left">
              <%= link_to "Log out", logout_path, method: "delete", class: "nav-link-custom" %></li>
            </i>
            </li>
          <% else %>
            <li class="nav-item">
              <i class="fa fa-custom fa-arrow-circle-right">
          <li><%= link_to "Login with Github", github_login_path, method: "post", class: "nav-link-custom"%></li>
            </i>
            </li>
        <% end %>
        <li class="nav-item">
          <i class="fa fa-custom fa-shopping-cart">
            <%= link_to "Cart", cart_path, class: "nav-link-custom" %>
          </i>
        </li>
        </ul>
      </div>
    </section>
  </header>
  <body>
    <%= yield %>
  </body>
<div class="container">
  <div class="row">
    <div class="col-md-3 mx-auto">
      DISCLAIMER
      <hr>
      <p>This is not a real website.</p>
    </div>
    <div class="col-md-3 mx-auto">
      CONTACT
      <hr>
      <p class="footer_text">
       ADA COHORT 14 <br>
        SEATTLE, WA </p>
    </div>
    <div class="col-3 mx-auto">
      follow us <br>
      <hr>
      <a href="https://twitter.com/aloebae" class="twitter"></a>
      <a href="https://www.instagram.com/aloebae/" class="instagram"></a>
    </div>
  </div>
</div>
<div class="footer_text">© 2020 Copyright: AloeBae
</div>
</html>
