<!DOCTYPE html>
<html>
  <head>
    <title>AloeBae</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="d-flex">
      <div class="mr-auto p-2">
        <h1><%= link_to "AloeBae", root_path, class: "header-logo" %></h1>
        <section class="header-byline">
          <p class="lead">a one stop shop for all your aloe vera favorites</p>
        </section>
      </div>
    </div>
    <section class="inline-navigation">
      <nav id="nav-bar">
          <ul class="navbar-nav">
            <div class="left-nav">
              <div>
                <li class="nav-item-left">
                  <i class="fa fa-custom fa-users">
                    <%= link_to "Merchants", merchants_path, class: "nav-link-custom" %>
                  </i>
                </li>
              </div>
            </div>
            <div class="left-nav">
              <div>
                <li class="nav-item-left">
                  <i class="fa fa-custom fa-users">
                    <%= link_to "Products", products_path, class: "nav-link-custom" %>
                  </i>
                </li>
              </div>
            </div>
            <div>
              <li class="nav-item-left dropdown">
                <i class="fa fa-custom fa-sitemap">
                  <a class="nav-link-custom" href="#" >
                    <%= link_to "Categories", products_path, class: "nav-link-custom" %>
                  </a>
                </i>
                <div class="dropdown-menu">
                    <ul>
                      <% @categories.each do |category| %>
                        <li><%= link_to category.category_name, products_path(category_name: category.category_name), class: "dropdown-item nav-link-custom text-uppercase"%></li>
                      <% end %>
                    </ul>
                </div>
              </li>
            </div>
          </ul>
          <ul class="navbar-nav">
            <% if @current_user %>
              <li class="nav-item-right">
                <i class="fa fa-custom fa-user-circle">
                  <%= link_to @current_user.username, profile_path, class: "nav-link-custom user-nav"%>
                </i>
              </li>
              <li class="nav-item-right">
                <i class="fa fa-custom fa-arrow-circle-left">
                  <%= link_to "Log out", logout_path, method: "delete", class: "nav-link-custom" %>
                </i>
              </li>
            <% else %>
              <li class="nav-item-right">
                <i class="fa fa-custom fa-arrow-circle-right">
                  <%= link_to "Login with Github", github_login_path, method: "post", class: "nav-link-custom"%>
                </i>
              </li>
            <% end %>
            </li>
            <li class="nav-item-right">
              <i class="fa fa-custom fa-shopping-cart">
                <%= link_to image_tag("http://www.pngall.com/wp-content/uploads/2016/04/Cart-Free-Download-PNG.png", class: "cart-img"), cart_path %>
              </i>
            </li>
          </ul>
      </nav>
    </section>
  </header>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-warning"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:success] %>
      <div class="alert alert-success"><%= flash[:success] %></div>
    <% end %>

    <% if flash[:error] %>
    <div class="alert alert-info"><%= flash[:error] %></div>
  <% end %>
    <%= yield %>
  </body>
  <footer class="footer">
    <div class="container-fluid">
      <div class="row mb-5 mt-4 text-left px-5 mx-5">
        <div class="col-md-3 mx-auto">
          DISCLAIMER
          <hr>
          <p>This is not a real website, it's a student project from Ada Developers Academy</p>
        </div>
        <div class="col-md-3 mx-auto">
          ADDRESS
          <hr>
          <p class="footer__text">
            ADA COHORT 14 <br>
            SEATTLE, WA</p>
        </div>
        <div class="col-3 mx-auto">
          CONTACT US <br>
          <hr>
          <p class="footer__text">
          aloebae@aloebae.com<br>
          (800) 123-4567</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright footer__text text-center py-3">© Copyright: AloeBae 2020
    </div>
  </footer>
</html>